body {
    font-family: sans-serif;
    font-size: 15pt;
    text-align: center;
    background-color: #daf0f0;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #8fdbc5, #64adc4, #488787, #3e7da7);
    background-size: 300% 300%;
    color: transparent;
    -webkit-background-clip: text;
    animation: gradient-flow 5s infinite;
    text-align: center;
}

/* Gradient animation */
@keyframes gradient-flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#message {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}

.tile {
    display: none;
    color: white;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    background-image: url('sonic.png');
    background-size: 400px 400px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    transition: top 0.3s ease, left 0.3s ease; 
  }
  
  .tile.movable:hover {
    border-color: red;
    color: red;
    cursor: pointer;
  }  

#shuffleB, #solveB{
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: 5px solid #488787;
    border-radius: 10px;
    color: white;
    background-color: #569e9e;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

#homeB{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border: 5px solid #488787;
  border-radius: 10px;
  color: white;
  background-color: #569e9e;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

#shuffleB:hover, #solveB:hover, #homeB:hover{
    transform: scale(1.05);
    color: #8befd2;
    border-color: #8befd2;
}

.empty-tile {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    border: 1px dashed black;
    box-sizing: border-box;
  }