
body {
    font-family: sans-serif;
    font-size: 15pt;
    text-align: center;
}

#message {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}

.tile {
    display: none;
    color: white;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    background-image: url('sonic.png');
    background-size: 400px 400px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    cursor: default;
}

.tile.movable:hover {
    border-color: red;
    color: red;
    cursor: pointer;
}

#shuffleB {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#solveB {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.empty-tile {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    border: 1px dashed black;
    box-sizing: border-box;
  }
  